version: '3.9'

services:
  db:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: barsha
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    networks:
      - auth-network

  backend:
    build: .
    container_name: auth-service
    ports:
      - "8081:8081"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/postgres
      SPRING_DATASOURCE_USERNAME: barsha
      SPRING_DATASOURCE_PASSWORD: password
    depends_on:
      - db
    networks:
      - auth-network

networks:
  auth-network:
    driver: bridge
